<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lledent.outerspacemanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:label="@string/menu_login">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:label="@string/signup">
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".OverviewActivity"
            android:label="@string/overview">
        </activity>

        <activity
            android:name=".BuildingActivity"
            android:label="@string/building">
        </activity>

        <activity
            android:name=".SelectedBuildingActivity"
            android:label="@string/building">
        </activity>

        <activity
            android:name=".FleetActivity"
            android:label="@string/fleet">
        </activity>

        <activity
            android:name=".SearchesActivity"
            android:label="@string/searches">
        </activity>

        <activity
            android:name=".SelectedSearchActivity"
            android:label="@string/searches">
        </activity>

        <activity
            android:name=".ShipyardActivity"
            android:label="@string/shipyard">
        </activity>

        <activity
            android:name=".SeletedShipActivity"
            android:label="@string/shipyard">
        </activity>

        <activity
            android:name=".GalaxyActivity"
            android:label="@string/galaxy">
        </activity>

    </application>
</manifest>
